/.vscode
src/catenary/__pycache__/__init__.cpython-38.pyc
src/catenary/__pycache__/catenaries.cpython-38.pyc
src/catenary/__pycache__/math_utils.cpython-38.pyc
src/catenary/__pycache__/projection.cpython-38.pyc
